* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;
  }
  
  #navbar {
    background-color: #BE3144;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 3em;
    position: fixed;
    top: 0;
    z-index: 10;
  }
  
  .nav-list {
    display: flex;
    list-style-type: none;
    gap: 2em;
    transition: color 0.3s ease;
    margin-right: 1rem;
  }
  
  .nav-list a {
    text-decoration: none;
    color: #F0F0F0;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .nav-list a:hover {
    color: #FFCF00;
  }
  
  #welcome-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    color: #F0F0F0;
    background-color: #000000;
    height: 100vh;
  }
  
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 30px 10%;
  }
  
  .projectCard{
    display: flex;
    flex-direction: column;
  }

  .projects a {
    text-decoration: none;
    color: #F0F0F0;
    font-weight: bold;
  }
  
  .projects a:hover {
    color: #FFCF00;
  }
  
  .projects img {
    transition: transform 0.3s ease;
    width: 10rem;
    height: 10rem;
    object-fit: contain;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .projects img:hover {
    transform: scale(1.1);
  }
  
  #projects {
    text-align: center;
    padding: 2em 0;
    background-color: #45567D;
    border-bottom: 2px solid white;
  }
  
  #contact {
    background-color: #303841;
    text-align: center;
    padding: 5em 0;
    color: #F0F0F0;
  }
  
  #links {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    margin-top: 2vh;
  }
  
  #links a {
    transition: transform 0.3s ease;
    padding: 10px;
    border-radius: 50%;
  }
  
  #links a:hover {
    transform: scale(1.2);
  }
  
  .contact-btn {
    display: inline-block;
    margin-top: 50px;
    background-color: #BE3144;
    color: #F0F0F0;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .contact-btn:hover {
    background-color: #FFCF00;
    color: #000;
  }
  
  footer {
    background-color: #303841;
    text-align: center;
    padding: 1em 0;
    border-top: 1px solid red;
  }
  
  footer p {
    color: #F0F0F0;
    margin: 0;
    font-size: 14px;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  @media (max-width: 768px) {
    body {
      font-size: 16px;
    }
  
    .projects {
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
  
    .projects img {
      width: 90%;
      height: auto;
    }
  
    #navbar {
      justify-content: center;
    }
  }
  
